#app {
    height: 100vh;
    text-align: center;
}

#logo {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10% 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

.input-box .btn {
    width: 100px;
    height: 30px;
    line-height: 10px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 30px;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}
.input-box .datetime-input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    font-size: 14px;
    cursor: pointer;
}

.input-box .datetime-input:hover {
    background-color: rgb(175, 101, 101);
}

.input-box .datetime-input:focus {
    background-color: rgba(255, 255, 255, 1);
}
.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .task-table th, .task-table td {
    border: 1px solid #b33737;
    padding: 8px;
    text-align: center;
  }
  
  .task-table th {
    background-color: #cc4608; 
    color: white; 
    font-weight: bold;
  }
  
  
  .task-table tr:nth-child(even) {
    background-color: #682121;
  }
  
  .task-table tr:hover {
    background-color: #a16c6c;
  }
  .btn-done:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  